@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height  : 100%;
  position: relative;

}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  position  : relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ant-layout::before {
  content                 : "";
  // background-image: url('./img/bg.svg') !important;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size:cover ;
  background              : linear-gradient(rgba(185, 184, 184, 0.5), rgb(248, 248, 248)), url('./img/bg.svg');
  background-size         : cover;
  position                : fixed;
  top                     : 0px;
  right                   : 0px;
  bottom                  : 0px;
  left                    : 0px;
  // opacity: 0.7;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left      : unset;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), transparent;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(61, 98, 223);
    border-radius   : 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(41, 111, 168);
  }
}

// .ant-menu-submenu, .ant-menu-item {
//   color:rgb(143, 143, 143) !important;
//   font-weight: bold;
// }
// .ant-pro-sider-menu {
//   color:rgb(150, 150, 150);
//   font-weight: bold;
// }

.ant-pro-sider-menu {

  // .ant-menu-submenu,
  // .ant-menu-submenu.ant-menu-sub.ant-menu-item,
  // .ant-menu-item {
  //   color: red !important;
  // }
  // .ant-menu-title-content {
  //   color: red;
  // }

  .ant-menu-item-selected {
    // color: revert;
    color           : rgb(255, 255, 255) !important;
    background-color: rgb(134, 134, 134) !important;
  }

  .ant-pro-menu-item-title {
    margin-left: 1rem;
  }
}

// .ant-pro-menu-item{
//   color:rgb(150, 150, 150);
//   font-weight: bold;
// }
// .ant-menu-item:hover{
//   color:rgb(243, 243, 243) !important;
//   background-color:rgb(134, 134, 134) ;
// }

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  all            : revert !important;
  // border-right: 0px solid #628dea;
}

.ant-pro-global-footer-links a {
  color      : black !important;
  font-weight: bold;
}

.ant-pro-global-footer-copyright {
  display: none;
}

.ant-menu-inline-collapsed {
  .ant-pro-menu-item-title {
    display: none;
  }
}

.ant-layout-sider-children {
  // display       : flex !important;
  flex-direction: column-reverse !important;

  .ant-pro-sider-links {
    .ant-pro-sider-collapsed-button {
      border-top   : none !important;
      border-bottom: 1px solid #f0f0f0;

      &:active {
        background-color: transparent !important;

      }
    }

  }
}

canvas {
  display: block;
}

body {
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background             : transparent;
}


ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width     : 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(61, 98, 223);
  border-radius   : 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(41, 111, 168);
}